*{
  font-family: poppins;
}

.navbar{
  display: flex;
  
  
}

.navbar img{
  padding: 10px;
  margin: 20px 20px;
  width: 150px;
  border-radius: 15px;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.05);

}

.navbar ul{
  padding: 10px 30px;
  border-radius: 30px;
  margin: 25px 25px 10px 40px;
  border-radius: 15px;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.05);

}

.navbar ul li{
  display: inline-block;
  padding: 5px 10px;
  margin: 0 10px;
  

}

.navbar a{
  color: #5292f9;
}

.navbar a.active{
  /* color: #5292f9; */
  color: #65d74b;


  
}

.navbar a:hover{
  color: #1551d4;
  /* color: #5292f9; */


}

.navbar input{
  height: 25px;
  margin: 35px -5px 5px 15px;
  border-radius:5px;
  width: 220px;
  border: 1.5px solid #E5E7EB;
  padding-left: 10px;
}

.navbar input::placeholder{
  color: #ced0d3;

}

.navbar button{
  background-color: #65d74b;
  border: none;
  height: 30px;
  width: 80px;
  color: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  margin: 35px;
  transition: 600ms background-color ease;
  
}
.navbar button:hover{
  background-color: #1551d4;
  
}

.navbar .user{
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.05);
  border-radius: 10px;
  margin: 33px 0px;
  width: auto;
  height: 30px;
  text-align: center;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 0.9em;
  font-weight: 500;
  align-items: center;
}


.product{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  padding: 20px;
}

.product a{
  text-decoration: none;
  color: black;

}

.product a:hover{
  text-decoration: none;
  color: #ced0d3;

}

.product-card{
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.1);
  border-radius: 10px;
  padding: 10px 25px;
  width: 27vw;
}

.product-card .tags{
  display: flex;
  gap: 20px;
}
.product-card .tag{
  background-color: #ced0d3;
  color: #FFFFFF;
  padding: 0 5px;
  border-radius: 3px;
  font-size: 0.8em;
}

.details{
  display: flex;
  gap: 30px;
  margin-top: 10px;

}

.product-card img{
  margin-left: 30px;
}

.product-card .title{
  font-weight: 550;
  width: 320px;
}

.product-card .price{
  font-weight: 400;
  color: #f8c304;
}

.product-card .in-stock{
  color: #4cd12e;
  border:1px solid #4cd12e;
  padding: 0 2px;
  width: 80px;
  margin-right: 15px;
}

.product-card .low-stock{
  color: #f82a0a;
  border:1px solid #f82a0a;
  padding: 0 2px;
  width: 80px;
  margin-right: 15px;
}

.product-card .rate{
  width: 160px;
  color: #78797a;
}

.product-card .category{
  margin-left: -10px;
  width: 60px;
  color: #787878;
}

.product-card .buy{
  margin: 15px 0px;
  display: flex;
  gap: 60px;
}

.product-card .buy button{
  padding: 5px 10px;
  width: 160px;
  border: none;
  color: white;
  font-size: 1.1em;
  border-radius: 5px;
  cursor: pointer;
}

.product-card .buy .icon{
  margin-top: 4px;
  margin-bottom: -2.5px;
  margin-left: 2px;
  width: 20px;
  height: auto;
  /* background-color: #1551d4; */
}

.item-details{
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.item-details img{
  height: 500px;
  margin-top: -10px;
  width: auto;
  margin-left: 60px;
  background-color: #f3f3f4;
  border-radius: 5px;
}

.item-details p{
  margin-left: 20px;
  font-weight: 390;
  font-size: 0.9em;
  background-color: #f3f3f4;
  padding: 20px;
  border-radius: 5px;
  width: 450px;

}

.item-details .topic{
  font-weight: 450;
  font-size: 1.1em;
  margin-right: 10px;
  margin-left: -5px;
  
}


.item-details .meta img{
  width: 70px;
  height: auto;
  background-color: #5292f9;
  margin: -100px 0 47px 360px;
}

.item-details .meta p{
  padding: 17px;
}

.review{
  padding: 0px 15px 15px;
}

.comments{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  padding-left: 20px;
}

.comment{
  display: grid;
  background-color: #f3f3f4;
  padding: 15px;
  border-radius: 5px;

}

.comment .name{
  font-size: 1.1em;
  display: flex;
  font-weight: 500;
}

.comment .name .user{
  width: 45px;
  height: auto;
  margin-top: -5px;
}

.comment .email{
  font-size: 0.7em;
  margin: -22px 0px 10px 50px;
  font-weight: 300;
}

.comment .rate{
  font-size: 0.8em;
  font-weight: 400;
}

.comment .text{
  margin-top: 5px;
}

.login{
  padding: 10px 60px 20px;
  border-radius: 30px;
  margin: 60px 25px 10px 460px;
  border-radius: 15px;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.05);
  width: 350px;

}

.login h3{
  text-align: center;
  font-size: 1.5rem;
  color: #5292f9;
}

.login p{
  display: flex;
}

.login .data{
  padding: 0 2px;
  width: 100px;
  margin-right: 15px;
  color: #5292f9;
  font-weight: 500;

}

.login input{
  border-radius:5px;
  border: 1.5px solid #d3d5d8;
  padding: 5px 10px;
  width: 250px;

}

.login input::placeholder{
  color: #ced0d3;

}

.login button{
  color: #FFFFFF;
  background-color: #1551d4;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 1rem;
  margin-left: 130px;
  cursor: pointer;
}

.login .icon{
  margin-bottom: -5px;
  width: 20px;
  height: auto;
}


/* Product card  responsive*/


@media all and (width<1380px){

  .product{
    /* grid-template-columns: repeat(2,1fr); */
  }

  .product-card{
    /* grid-template-columns: repeat(2,1fr); */
    /* width: 80%; */
  }

}