*{
  font-family: poppins;
}

.navbar{
  display: flex;
  
  
}

.navbar img{
  padding: 10px;
  margin: 20px 20px;
  width: 150px;
  border-radius: 15px;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.05);

}

.navbar ul{
  padding: 10px 30px;
  border-radius: 30px;
  margin: 25px 25px 10px 40px;
  border-radius: 15px;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.05);

}

.navbar ul li{
  display: inline-block;
  padding: 5px 10px;
  margin: 0 10px;
  

}

.navbar a{
  color: #5292f9;
}

.navbar a.active{
  /* color: #5292f9; */
  color: #65d74b;


  
}

.navbar a:hover{
  color: #1551d4;
  /* color: #5292f9; */


}

.navbar input{
  height: 25px;
  margin: 35px -5px 5px 15px;
  border-radius:5px;
  width: 220px;
  border: 1.5px solid #E5E7EB;
  padding-left: 10px;
}

.navbar input::placeholder{
  color: #ced0d3;

}

.navbar button{
  background-color: #65d74b;
  border: none;
  height: 30px;
  width: 80px;
  color: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  margin: 35px;
  
}
.navbar button:hover{
  background-color: #4cd12e;
  
}

.navbar .user{
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.05);
  border-radius: 10px;
  margin: 33px 0px;
  width: auto;
  height: 30px;
  text-align: center;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 0.9em;
  font-weight: 500;
  align-items: center;
}


.product{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  padding: 20px;
}

.product a{
  text-decoration: none;
  color: black;

}

.product a:hover{
  text-decoration: none;
  color: #ced0d3;

}

.product-card{
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.1);
  padding: 10px 25px;
  width: 380px;
}

.details{
  display: flex;
  gap: 30px;
  margin-top: 10px;

}

.product-card img{
  margin-left: 110px;
}

.product-card .title{
  font-weight: 550;
  width: 350px;
}

.product-card .price{
  font-weight: 400;
  color: rgb(248, 195, 4);
}

.product-card .in-stock{
  color: #4cd12e;
  border:1px solid #4cd12e;
  padding: 0 2px;
  width: 80px;
  margin-right: 15px;
}

.product-card .low-stock{
  color: #f82a0a;
  border:1px solid #f82a0a;
  padding: 0 2px;
  width: 80px;
  margin-right: 15px;
}

.product-card .rate{
  width: 160px;
  color: #78797a;
}

.product-card .category{
  margin-left: -10px;
  width: 60px;
  color: #787878;
}

.item-details{
  padding: 20px;
}

.item-details img{
  height: 400px;
  width: auto;
}

.item-details p{
  margin-left: 20px;
  font-weight: 390;
  font-size: 0.9em;
}

.item-details .topic{
  font-weight: 450;
  font-size: 1.1em;
}