name: Deploy to GitHub Pages

on:
  push:
    branches: [main] # Runs every time you push to main

permissions:
  contents: write # Needed to deploy to GitHub Pages

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install and Build
        run: |
          npm install
          npm run build

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist # Vite uses 'dist'
          branch: gh-pages
